In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [5]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [6]:
movies.shape

(4803, 20)

In [7]:
credits.shape

(4803, 4)

In [8]:
movies = movies.merge(credits,on='title')

In [9]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [10]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [11]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [12]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies.dropna(inplace=True)

In [15]:
movies.duplicated().sum()

np.int64(0)

In [16]:
movies.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
import ast

def convert(text):
    l = []
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l

In [18]:
movies['genres'] = movies['genres'].apply(convert)

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
movies.iloc[0]['keywords']

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [21]:
movies['keywords'] = movies['keywords'].apply(convert)

In [22]:
def convert_cast(text):
    l = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            l.append(i['name'])
        counter += 1
    return l

In [23]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [24]:
def fectch_director(text):
    l = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [25]:
movies['crew'] = movies['crew'].apply(fectch_director)

In [26]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",[Andrew Stanton]

In [27]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",[Andrew Stanton]

In [28]:
def remove_space(word):
    l = []
    for i in word:
        l.append(i.replace(' ',''))
    return l

In [29]:
movies['cast'] = movies['cast'].apply(remove_space)
movies['crew'] = movies['crew'].apply(remove_space)
movies['genres'] = movies['genres'].apply(remove_space)
movies['keywords'] = movies['keywords'].apply(remove_space)

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[[, {, "", c, a, s, t, _, i, d, "", :, , 4, ,, ,...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[[, {, "", c, a, s, t, _, i, d, "", :, , 1, ,, ,...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[[, {, "", c, a, s, t, _, i, d, "", :, , 2, ,, ,...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[[, {, "", c, a, s, t, _, i, d, "", :, , 5, ,, ,...",[AndrewStanton]

In [31]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [32]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [34]:
new_df = movies[['movie_id','title','tags']]

In [35]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [37]:
new_df['tags'] = new_df['tags'].apply(lambda x: ''.join(x))
new_df

/tmp/ipykernel_4035/149469654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: ''.join(x))

,movie_id,title,tags
0,19995,Avatar,"Inthe22ndcentury,aparaplegicMarineisdispatched..."
1,285,Pirates of the Caribbean: At World's End,"CaptainBarbossa,longbelievedtobedead,hascomeba..."
2,206647,Spectre,AcrypticmessagefromBond’spastsendshimonatrailt...
3,49026,The Dark Knight Rises,"FollowingthedeathofDistrictAttorneyHarveyDent,..."
4,49529,John Carter,"JohnCarterisawar-weary,formermilitarycaptainwh..."
...,...,...,...
4804,9367,El Mariachi,ElMariachijustwantstoplayhisguitarandcarryonth...
4805,72766,Newlyweds,Anewlywedcouple'shoneymoonisupendedbythearriva...
4806,231617,"Signed, Sealed, Delivered","""Signed,Sealed,Delivered""introducesadedicatedq..."
4807,126186,Shanghai Calling,WhenambitiousNewYorkattorneySamissenttoShangha...
4808,25975,My Date with Drew,EversincethesecondgradewhenhefirstsawherinE.T....

In [39]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

/tmp/ipykernel_4035/1380776331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [40]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"inthe22ndcentury,aparaplegicmarineisdispatched..."
1,285,Pirates of the Caribbean: At World's End,"captainbarbossa,longbelievedtobedead,hascomeba..."
2,206647,Spectre,acrypticmessagefrombond’spastsendshimonatrailt...
3,49026,The Dark Knight Rises,"followingthedeathofdistrictattorneyharveydent,..."
4,49529,John Carter,"johncarterisawar-weary,formermilitarycaptainwh..."

In [42]:
import nltk
from nltk.stem import PorterStemmer

In [43]:
ps = PorterStemmer()

In [ ]:
def stems(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
    return ' '.join(l)

In [46]:
new_df['tags'] = new_df['tags'].apply(stems)

/tmp/ipykernel_4035/3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [48]:
print(new_df.iloc[0]['tags'])

inthe22ndcentury,aparaplegicmarineisdispatchedtothemoonpandoraonauniquemission,butbecomestornbetweenfollowingordersandprotectinganaliencivilization.actionadventurefantasysciencefictioncultureclashfuturespacewarspacecolonysocietyspacetravelfuturisticromancespacealientribealienplanetcgimarinesoldierbattleloveaffairantiwarpowerrelationsmindandsoul3d[{"cast_id":242,"character":"jakesully","credit_id":"5602a8a7c3a3685532001c9a","gender":2,"id":65731,"name":"samworthington","order":0},{"cast_id":3,"character":"neytiri","credit_id":"52fe48009251416c750ac9cb","gender":1,"id":8691,"name":"zoesaldana","order":1},{"cast_id":25,"character":"dr.graceaugustine","credit_id":"52fe48009251416c750aca39","gender":1,"id":10205,"name":"sigourneyweaver","order":2},{"cast_id":4,"character":"col.quaritch","credit_id":"52fe48009251416c750ac9cf","gender":2,"id":32747,"name":"stephenlang","order":3},{"cast_id":5,"character":"trudychacon","credit_id":"52fe48009251416c750ac9d3","gender":1,"id":17647,"name":"michellerodriguez","order":4},{"cast_id":8,"character":"selfridge","credit_id":"52fe48009251416c750ac9e1","gender":2,"id":1771,"name":"giovanniribisi","order":5},{"cast_id":7,"character":"normspellman","credit_id":"52fe48009251416c750ac9dd","gender":2,"id":59231,"name":"joeldavidmoore","order":6},{"cast_id":9,"character":"moat","credit_id":"52fe48009251416c750ac9e5","gender":1,"id":30485,"name":"cchpounder","order":7},{"cast_id":11,"character":"eytukan","credit_id":"52fe48009251416c750ac9ed","gender":2,"id":15853,"name":"wesstudi","order":8},{"cast_id":10,"character":"tsu'tey","credit_id":"52fe48009251416c750ac9e9","gender":2,"id":10964,"name":"lazalonso","order":9},{"cast_id":12,"character":"dr.maxpatel","credit_id":"52fe48009251416c750ac9f1","gender":2,"id":95697,"name":"dileeprao","order":10},{"cast_id":13,"character":"lylewainfleet","credit_id":"52fe48009251416c750ac9f5","gender":2,"id":98215,"name":"mattgerald","order":11},{"cast_id":32,"character":"privatefike","credit_id":"52fe48009251416c750aca5b","gender":2,"id":154153,"name":"seananthonymoran","order":12},{"cast_id":33,"character":"cryovaultmedtech","credit_id":"52fe48009251416c750aca5f","gender":2,"id":397312,"name":"jasonwhyte","order":13},{"cast_id":34,"character":"venturestarcrewchief","credit_id":"52fe48009251416c750aca63","gender":2,"id":42317,"name":"scottlawrence","order":14},{"cast_id":35,"character":"lockuptrooper","credit_id":"52fe48009251416c750aca67","gender":2,"id":986734,"name":"kellykilgour","order":15},{"cast_id":36,"character":"shuttlepilot","credit_id":"52fe48009251416c750aca6b","gender":0,"id":1207227,"name":"jamespatrickpitt","order":16},{"cast_id":37,"character":"shuttleco-pilot","credit_id":"52fe48009251416c750aca6f","gender":0,"id":1180936,"name":"seanpatrickmurphy","order":17},{"cast_id":38,"character":"shuttlecrewchief","credit_id":"52fe48009251416c750aca73","gender":2,"id":1019578,"name":"peterdillon","order":18},{"cast_id":39,"character":"tractoroperator/troupe","credit_id":"52fe48009251416c750aca77","gender":0,"id":91443,"name":"kevindorman","order":19},{"cast_id":40,"character":"dragongunshippilot","credit_id":"52fe48009251416c750aca7b","gender":2,"id":173391,"name":"kelsonhenderson","order":20},{"cast_id":41,"character":"dragongunshipgunner","credit_id":"52fe48009251416c750aca7f","gender":0,"id":1207236,"name":"davidvanhorn","order":21},{"cast_id":42,"character":"dragongunshipnavigator","credit_id":"52fe48009251416c750aca83","gender":0,"id":215913,"name":"jacobtomuri","order":22},{"cast_id":43,"character":"suit#1","credit_id":"52fe48009251416c750aca87","gender":0,"id":143206,"name":"michaelblain-rozgay","order":23},{"cast_id":44,"character":"suit#2","credit_id":"52fe48009251416c750aca8b","gender":2,"id":169676,"name":"joncurry","order":24},{"cast_id":46,"character":"ambientroomtech","credit_id":"52fe48009251416c750aca8f","gender":0,"id":1048610,"name":"lukehawker","order":25},{"cast_id":47,"character":"ambientroomtech/troupe","credit_id":"52fe48009251416c750aca93","gender":0,"id":42288,"name":"woodyschultz","order":26},{"cast_id":48,"character":"horseclanleader","credit_id":"52fe48009251416c750aca97","gender":2,"id":68278,"name":"petermensah","order":27},{"cast_id":49,"character":"linkroomtech","credit_id":"52fe48009251416c750aca9b","gender":0,"id":1207247,"name":"soniayee","order":28},{"cast_id":50,"character":"basketballavatar/troupe","credit_id":"52fe48009251416c750aca9f","gender":1,"id":1207248,"name":"jahnelcurfman","order":29},{"cast_id":51,"character":"basketballavatar","credit_id":"52fe48009251416c750acaa3","gender":0,"id":89714,"name":"ilramchoi","order":30},{"cast_id":52,"character":"na'vichild","credit_id":"52fe48009251416c750acaa7","gender":0,"id":1207249,"name":"kylawarren","order":31},{"cast_id":53,"character":"troupe","credit_id":"52fe48009251416c750acaab","gender":0,"id":1207250,"name":"lisaroumain","order":32},{"cast_id":54,"character":"troupe","credit_id":"52fe48009251416c750acaaf","gender":1,"id":83105,"name":"debrawilson","order":33},{"cast_id":57,"character":"troupe","credit_id":"52fe48009251416c750acabb","gender":0,"id":1207253,"name":"chrismala","order":34},{"cast_id":55,"character":"troupe","credit_id":"52fe48009251416c750acab3","gender":0,"id":1207251,"name":"taylorkibby","order":35},{"cast_id":56,"character":"troupe","credit_id":"52fe48009251416c750acab7","gender":0,"id":1207252,"name":"jodielandau","order":36},{"cast_id":58,"character":"troupe","credit_id":"52fe48009251416c750acabf","gender":0,"id":1207254,"name":"julielamm","order":37},{"cast_id":59,"character":"troupe","credit_id":"52fe48009251416c750acac3","gender":0,"id":1207257,"name":"cullenb.madden","order":38},{"cast_id":60,"character":"troupe","credit_id":"52fe48009251416c750acac7","gender":0,"id":1207259,"name":"josephbradymadden","order":39},{"cast_id":61,"character":"troupe","credit_id":"52fe48009251416c750acacb","gender":0,"id":1207262,"name":"frankietorres","order":40},{"cast_id":62,"character":"troupe","credit_id":"52fe48009251416c750acacf","gender":1,"id":1158600,"name":"austinwilson","order":41},{"cast_id":63,"character":"troupe","credit_id":"52fe48019251416c750acad3","gender":1,"id":983705,"name":"sarawilson","order":42},{"cast_id":64,"character":"troupe","credit_id":"52fe48019251416c750acad7","gender":0,"id":1207263,"name":"tamicawashington-miller","order":43},{"cast_id":65,"character":"opcenterstaff","credit_id":"52fe48019251416c750acadb","gender":1,"id":1145098,"name":"lucybriant","order":44},{"cast_id":66,"character":"opcenterstaff","credit_id":"52fe48019251416c750acadf","gender":2,"id":33305,"name":"nathanmeister","order":45},{"cast_id":67,"character":"opcenterstaff","credit_id":"52fe48019251416c750acae3","gender":0,"id":1207264,"name":"gerryblair","order":46},{"cast_id":68,"character":"opcenterstaff","credit_id":"52fe48019251416c750acae7","gender":2,"id":33311,"name":"matthewchamberlain","order":47},{"cast_id":69,"character":"opcenterstaff","credit_id":"52fe48019251416c750acaeb","gender":0,"id":1207265,"name":"paulyates","order":48},{"cast_id":70,"character":"opcenterdutyofficer","credit_id":"52fe48019251416c750acaef","gender":0,"id":1207266,"name":"wraywilson","order":49},{"cast_id":71,"character":"opcenterstaff","credit_id":"52fe48019251416c750acaf3","gender":2,"id":54492,"name":"jamesgaylyn","order":50},{"cast_id":72,"character":"dancer","credit_id":"52fe48019251416c750acaf7","gender":0,"id":1207267,"name":"melvinlenoclarkiii","order":51},{"cast_id":73,"character":"dancer","credit_id":"52fe48019251416c750acafb","gender":0,"id":1207268,"name":"carvonfutrell","order":52},{"cast_id":74,"character":"dancer","credit_id":"52fe48019251416c750acaff","gender":0,"id":1207269,"name":"brandonjelkes","order":53},{"cast_id":75,"character":"dancer","credit_id":"52fe48019251416c750acb03","gender":0,"id":1207270,"name":"micahmoch","order":54},{"cast_id":76,"character":"dancer","credit_id":"52fe48019251416c750acb07","gender":0,"id":1207271,"name":"hanniyahmuhammad","order":55},{"cast_id":77,"character":"dancer","credit_id":"52fe48019251416c750acb0b","gender":0,"id":1207272,"name":"christophernolen","order":56},{"cast_id":78,"character":"dancer","credit_id":"52fe48019251416c750acb0f","gender":0,"id":1207273,"name":"christaoliver","order":57},{"cast_id":79,"character":"dancer","credit_id":"52fe48019251416c750acb13","gender":0,"id":1207274,"name":"aprilmariethomas","order":58},{"cast_id":80,"character":"dancer","credit_id":"52fe48019251416c750acb17","gender":0,"id":1207275,"name":"bravitaa.threatt","order":59},{"cast_id":81,"character":"miningchief(uncredited)","credit_id":"52fe48019251416c750acb1b","gender":0,"id":1207276,"name":"colinbleasdale","order":60},{"cast_id":82,"character":"veteranminer(uncredited)","credit_id":"52fe48019251416c750acb1f","gender":0,"id":107969,"name":"mikebodnar","order":61},{"cast_id":83,"character":"richard(uncredited)","credit_id":"52fe48019251416c750acb23","gender":0,"id":1207278,"name":"mattclayton","order":62},{"cast_id":84,"character":"nav'i(uncredited)","credit_id":"52fe48019251416c750acb27","gender":1,"id":147898,"name":"nicoledionne","order":63},{"cast_id":85,"character":"trooper(uncredited)","credit_id":"52fe48019251416c750acb2b","gender":0,"id":1207280,"name":"jamieharrison","order":64},{"cast_id":86,"character":"trooper(uncredited)","credit_id":"52fe48019251416c750acb2f","gender":0,"id":1207281,"name":"allanhenry","order":65},{"cast_id":87,"character":"groundtechnician(uncredited)","credit_id":"52fe48019251416c750acb33","gender":2,"id":1207282,"name":"anthonyingruber","order":66},{"cast_id":88,"character":"flightcrewmechanic(uncredited)","credit_id":"52fe48019251416c750acb37","gender":0,"id":1207283,"name":"ashleyjeffery","order":67},{"cast_id":14,"character":"samsonpilot","credit_id":"52fe48009251416c750ac9f9","gender":0,"id":98216,"name":"deanknowsley","order":68},{"cast_id":89,"character":"trooper(uncredited)","credit_id":"52fe48019251416c750acb3b","gender":0,"id":1201399,"name":"josephmika-hunt","order":69},{"cast_id":90,"character":"banshee(uncredited)","credit_id":"52fe48019251416c750acb3f","gender":0,"id":236696,"name":"terrynotary","order":70},{"cast_id":91,"character":"soldier(uncredited)","credit_id":"52fe48019251416c750acb43","gender":0,"id":1207287,"name":"kaipantano","order":71},{"cast_id":92,"character":"blasttechnician(uncredited)","credit_id":"52fe48019251416c750acb47","gender":0,"id":1207288,"name":"loganpithyou","order":72},{"cast_id":93,"character":"vindumraah(uncredited)","credit_id":"52fe48019251416c750acb4b","gender":0,"id":1207289,"name":"stuartpollock","order":73},{"cast_id":94,"character":"hero(uncredited)","credit_id":"52fe48019251416c750acb4f","gender":0,"id":584868,"name":"raja","order":74},{"cast_id":95,"character":"opscentreworker(uncredited)","credit_id":"52fe48019251416c750acb53","gender":0,"id":1207290,"name":"garethruck","order":75},{"cast_id":96,"character":"engineer(uncredited)","credit_id":"52fe48019251416c750acb57","gender":0,"id":1062463,"name":"rhiansheehan","order":76},{"cast_id":97,"character":"col.quaritch'smechsuit(uncredited)","credit_id":"52fe48019251416c750acb5b","gender":0,"id":60656,"name":"t.j.storm","order":77},{"cast_id":98,"character":"femalemarine(uncredited)","credit_id":"52fe48019251416c750acb5f","gender":0,"id":1207291,"name":"jodietaylor","order":78},{"cast_id":99,"character":"ikranclanleader(uncredited)","credit_id":"52fe48019251416c750acb63","gender":1,"id":1186027,"name":"aliciavela-bailey","order":79},{"cast_id":100,"character":"geologist(uncredited)","credit_id":"52fe48019251416c750acb67","gender":0,"id":1207292,"name":"richardwhiteside","order":80},{"cast_id":101,"character":"na'vi(uncredited)","credit_id":"52fe48019251416c750acb6b","gender":0,"id":103259,"name":"nikiezambo","order":81},{"cast_id":102,"character":"ambientroomtech/troupe","credit_id":"52fe48019251416c750acb6f","gender":1,"id":42286,"name":"julenerenee","order":82}]jamescameron

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words= 'english')

In [51]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
similarity = cosine_similarity(vector)

In [57]:
new_df[new_df['title'] == 'Spider-Man'].index[0]

np.int64(159)

In [65]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True, key= lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [ ]:
recommend('Spider-Man')

The Artist
The Social Network
The Pursuit of Happyness
Bedtime Stories
Inglourious Basterds

In [68]:
import pickle

pickle.dump(new_df, open('artificats/movie_list.pkl','wb'))
pickle.dump(similarity, open('artificats/similarity.pkl','wb'))